// opara sumar el  header y variable y poder tener codigo debajo se necesita usar as*;

@use "./variables" as*;

// HEADER
header {
  display:flex;
    justify-content: space-between;
    position:sticky;
    top:0;
    background-color: lightsalmon;

  .logo {
    width: 150px;
    margin: 10px;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  a {
    color: rgb(17, 106, 141);
    text-decoration: none;
    font-size: large;
  }

  nav {width: 25%;}
  a {
    
    text-decoration: salmon;
    text-shadow: 1px 1px 4px;
    text-transform: uppercase;
  
}
  
  }
