@use "./variables" as*;

// MIXINS

// 1. Mixin animaciones 
@mixin hover-transform($transform) {
  transition: transform 2s ease; 
  &:hover {
    transform: $transform;
  }
}

// 2. Mixin flex-sin 
@mixin flex-sin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// 3. Mixin flex-con 
@mixin flex-con($direc, $justi, $align) {
  display: flex; 
  flex-direction: $direc;
  justify-content: $justi;
  align-items: $align;
}

// 4. Mixin tamanio
@mixin tamanio($ancho, $alto) {
  width: $ancho;
  height: $alto;
}