@use "./variables" as*;
@use "./header-footer" as*;
// MIXINS

@mixin hover-transform($transform) {
  &:hover {
    transform: $transform;
    transition: 2s;
  }
}

// Mixin flex-sin sin parámetros


@mixin flex-sin {
  display: $flex;
  flex-direction: row;
  justify-content: $center;
  align-items: $center;
  $flex: flex;
$center: center;
}

// Mixin flex-con con parámetros
@mixin flex-con($direc, $justi, $align) {
  display: $flex;
  flex-direction: $direc;
  justify-content: $justi;
  align-items: $align;
}

// Mixin tamanio
@mixin tamanio($ancho, $alto) {
  width: $ancho;
  height: $alto;
}