


// VARIABLES
$color-principal: #6344ff;
$color-secundario: rgb(220, 20, 27);
$color-verde: rgb(17, 128, 0);
$color-header: lightsalmon;
$color-link: rgb(17, 106, 141);
$color-blueviolet: blueviolet;
$fuente: "Oswald", sans-serif;


// MAIN
main {
  color: $color-blueviolet;
}


// paleta de colores 

$bordo:#8E1616;
$amarillo:#ffbc0d;
$blanco:#FFFF;

$font: family "Oswald", sans-serif;

// extend
.boton-rojo{
    width: 200px;
     font-family: $font;
    background-color: $amarillo;
   border:rgb(219, 49, 49) 2px soliod ;
   color: $bordo;
}
.boton-verde{
    @extend .boton-rojo;
    border: greenyellow 2px solid;
}

// .boton-verde{
//     width: 200px;
//      font-family: $font;
//     background-color: $amarillo;
//    border:rgb(95, 193, 16) 2px soliod ;
//    color: $bordo;